.env

state.json

node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/

logs/
docs
screenshots/

playwright-report/
test-results/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.tmp
*.temp